.icon {
  width: rem(50);
  height: rem(50);
  
  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(32);
    height: rem(32);
  }; 
  
  @media (max-width: 275px) {
    width: rem(25);
    height: rem(25);
  }; 
}

.copyright {
  width: rem(19);
  height: rem(19);

  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(14);
    height: rem(14);
  }; 
}